.row {
    display: flex;
    justify-content: center;
    align-items: center;
}


#text-logo {
    font-family: 'Poiret One', cursive;
    display: flex;
    justify-content: center;
    font-size: 80px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F2F1EF;
}

#tel {
    text-align: center;

}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: start;

}

#banner {
    margin-top: 20px;
}

#footer {
    background-color: #C6C8CA;
    margin-right: 2px;
}

#vijet {
    margin-left: 50px;
}
.card {
    margin-right: 20px;
    margin-top: 30px;
}

#S {
    height: 70px;
}
a {
    color: #000;
}
